<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Student Marks for {{college}}</h1>
{% if 'onlineapp.add_student' in permissions and 'onlineapp.add_mocktest1' in permissions%}
<button> <a href="{% url 'add_student_html' college %}">+add student</a></button>
{% endif %}
<button> <a href="{% url 'logout_html' %}">logout</a></button>
<table border="1">
    <tr>
        <th>student_name</th>
        <th>total</th>
    </tr>
    {%for student in students %}
    <tr>
        <td>{{student.student__name}}</td>


        <td>{{student.total}}</td>
        {% if 'onlineapp.change_student' in permissions and 'onlineapp.change_mocktest1' in permissions%}
         <td><a href="{%url 'edit_student_html' student.student__id%}">edit</a></td>
        {% endif %}
        {% if 'onlineapp.delete_student' in permissions and 'onlineapp.delete_mocktest1' in permissions%}
         <td><a href="{%url 'delete_student_html' student.student__id%}">delete</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

</body>
</html>